connexion==2.7.0
click==7.1.2
clickclick==1.2.2
Flask==1.1.2
Flask-PyMongo==2.3.0
cert-core==2.1.10
cert-schema==3.0.0a9
configargparse==0.13.0
merkletools==1.0.3
glob2==0.6
mock==2.0.0
MarkupSafe==1.1.1
requests[security]==2.18.4
pycoin==0.80
pyld==1.0.3
python-bitcoinlib==0.10.1
tox==3.1.2
jsonschema==2.6.0